.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#img-in-thumbnail {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

@media (min-width: 992px) {
    #img-in-thumbnail {
        object-fit: cover;
        height: 250px;
        width: 100%;
    }
}

body {
    background-color: none;
}

#deleteForm {
    display: inline;
}

#commentDeleteForm{
    display: inline;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}